<h1>Stage <%= @stage_name %></h1>
<ul>
  <% if @artists_list == [] %>
    <p>Empty stage</p>
  <% else %>
    <% @artists_list.each do |artist| %>
      <li>
        <a href="/stages/<%= @id %>/artists/<%=artist.id%>/edit">
          <%=artist.name%>
        </a>
      </li>
    <% end %>
  <% end %>
</ul>
<a href="/stages/<%= @id %>/new_artist">Add artist</a>
<a href="/stages/<%= @id %>/edit">Edit</a>
